#topic_poll {
    border: 2px outset #ddd;
    background: url(background.gif);
}

#topic_poll #topic_poll_title {
    color: black;
}

#topic_poll #topic_poll_header #topic_poll_details {
    color: black;
}

#topic_poll #topic_poll_question {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #467;
    font-weight: bold;
    color: white;
    border: 1px solid black;
}

#topic_poll #topic_poll_answers, 
#topic_poll #topic_poll_answers table td {
    color: black;
}

#topic_poll #topic_poll_answers .topic_poll_percentage_bar {
    border: 1px solid black;
    background: #789;
}

