/*Outermost DIV for thumbnail viewer*/
#thumbBox{
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    padding: 7px;
    padding-bottom: 0;
    background: #f0f0f0;
    border: 1px solid black;
    visibility: hidden;
    z-index: 1000;
    cursor: hand;
    cursor: pointer;
    font-family: arial,helvetica,sans-serif;
}

/*Footer DIV of thumbbox that contains "close" link */
#thumbBox .footerbar{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.1em;
    color: black;
    padding: 5px 0;
    text-align: right;
}


/*DIV within thumbbox that holds the enlarged image */
#thumbBox #thumbImage{
    font-size: 11px;
    color: black;
}

#thumbBox #thumbImage img{
    border: 1px solid black;
}

/*DIV for showing "loading" status while thumbbox is being generated*/
#thumbLoading{
    position: absolute;
    visibility: hidden;
    background-color: #f0f0f0;
    border: 1px solid black;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    padding: 16px;
    z-index: 999;
}

